.bookingBox{
    background: #6882EF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 20px;
    box-sizing: border-box;
}

.booking{
    width: 1366px;
    height: 630px;
    margin: 0 auto;
}
#book{
    text-align: left;
    font: normal normal bold 49px/57px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    opacity: 1;
}
.white_span{
    color: #FFFFFF;
}

#booking_box{
    width: 500px;
    min-height: 288px;
    border-radius: 16px;
    max-height: 400px;
    overflow-y: auto;
}

#my_box{
    width: 288px;
    border-radius: 16px;
    padding: 20px 10px;
    height: 400px;
}

#people_box{
    width: 536px;
    min-height: 468px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    padding: 20px 10px;
    max-height: 550px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-thumb {
    background: rgba(103, 129, 239, 0.61);
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
}

