#my_box{
    width: 288px;
    min-width: 200px;
    border-radius: 16px;
    padding: 20px 10px;
    height: 400px;
}

.minSize{
    display: none;
}

#booking_box{
    width: 500px;
    min-width: 200px;
    min-height: 288px;
    border-radius: 16px;
    max-height: 400px;
    overflow-y: auto;
}

@media screen and (max-width: 1000px) {
    #my_box li{
        margin: 0;
    }

    #my_box{
        width: auto;
       height: auto;
        margin: 50px 10px;
    }
    
    #booking_box{
        min-width: 330px;
        margin: 50px 10px;
        height: auto;
    }
    #btnAddCard{ 
        top: 40px;
    }
}

@media screen and (max-width: 742px) {
  
    #my_box{
        width: auto;
       height: auto;
        margin: 10px 10px;
    }
    
    #booking_box{
        width: auto;
        margin: 10px 10px;
        height: auto;
        max-height: 330px;
    }
    .minSize{
        display: block;
    }
}

@media screen and (max-width: 572px) {
    #my_box{
        margin: 10px 10px;
        width: 330px;
    }
    
    #booking_box{
        width: 330px;
        margin: 10px 10px;
    }
    
    #btnAddCard{ 
        top: 9px;
    }
    #my_box li{
        margin:0 20%;
    }
    #minSizeBox{
        justify-content: center;
    }
}
@media screen and (max-width:340px) {
    #booking_box{
        min-width: auto;  
    }
}