.navigation{
    height: 148px;
    background: #6882EF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav_list{

    margin: 0 auto;
    padding-top: 40px;
    width: 80%;
}
.clean_nav {
    margin:0;
    white-space: nowrap;
}
.clean_nav li{

    float: left;
    padding: 20px 60px 0;
    color: #FFFFFF;
    width: 25%;
}


.clean_nav a{
    display: inline-block;
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 0px;
    opacity: 1;
    text-decoration: none;
}

.clean_nav a:hover{
    color: #FFD836;
    font-weight: bold;
}

.clean_nav a:hover:after{

    content: "";
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 50px solid #FFD836;
    margin: 0 auto;
    display: block;
    position:relative;
    top: 5px;
}
